@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/spinners";

@import "~bootstrap-icons";

.fill-page {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
}

.fs-sub {
    font-size: 0.75rem;
}

.hover-glow {
    transition: box-shadow 0.3s ease-in-out;

    &::after {
        z-index: -1;
        content: "";
        position: relative;
        display: inline-block;
        top: -98%;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at center, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 60%);
        transition: top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    &:hover {
        box-shadow: inset 0 0 0 0.2rem rgba(255, 255, 255, 0.2);

        &::after {
            top: -148%;
            left: -50%;
            width: 200%;
            height: 200%;
        }
    }
}